@{
    ViewData["Title"] = "About";
}
<div class="page-header">
    <h1>@ViewData["Title"]</h1>

</div>
<h3>Computer Vision as a Service <small>Počítačové vidění jako webová služba</small></h3>
<dl>
    <dt>Vedoucí</dt>
    <dd>Juránek Roman, Ing., Ph.D., UPGM FIT VUT</dd>
    
    <dt>Student</dt>
    <dd>Jež Adam, Bc.</dd>

    <dt>Zadání</dt>
    <dd>
        <ol>
            <li>Prostudujte možnosti vytváření webových služeb</li>
            <li>Vyberte vhodné algoritmy počítačového vidění</li>
            <li>Navrhněte webovou službu, která podporuje autentizaci uživatelů, předávání dat a několik algoritmů počítačového vidění</li>
            <li>Implementujte navrženou službu</li>
            <li>Vytvořte prezentační materiály pro vaši aplikaci (web, poster, video)</li>
        </ol>
    </dd>

    <dt>Část požadovaná pro obhajobu SP</dt>
    <dd>Body 1 a 2</dd>

    <dt>Kategorie</dt>
    <dd>Web</dd>

    <dt>Implementační jazyk</dt>
    <dd>C/C++, Python, SQL</dd>

    <dt>Literatura</dt>
    <dd>Dle pokynů vedoucího</dd>
</dl>
