@{
    ViewData["Title"] = "Docs";
}
<div class="page-header">
    <h1>@ViewData["Title"]</h1>
</div>

<p>Look at <a href="https://github.com/adamjez/cvas" target="_blank">Source Code</a>... there is only <a href="~/swagger" target="_blank">Swagger Documentation</a> yet</p>
