@using CVaS.Web.Models.AccountViewModels
@model SettingsViewModel

<div class="page-header">
    <h2>@Model.Title</h2>
</div>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-info" role="alert">@Model.StatusMessage</div>
}


<div class="panel panel-default  col-md-11">
    <div class="panel-body">
        <div>
            <fieldset>
                <legend>Current API KEY</legend>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <form>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control api-key-input" readonly value="@Model.ApiKey" id="api-key-field">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="api-key-clipboard-btn" data-clipboard-target="#api-key-field"
                                                    data-placement="button" title="Copy to Clipboard">
                                                <img src="~/images/clippy.svg" class="clippy" alt="Copy to clipboard">
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-3">
                            <form asp-controller="Account" asp-action="RevokeApiKey" asp-antiforgery="true" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-default btn-danger">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="col-md-7 well">
    <form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal">
        <fieldset>
            <legend>Change Password</legend>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-default">Change password</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/lib/clipboard/dist/clipboard.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/clipboard/dist/clipboard.min.js"></script>
    </environment>

    <script>
        var buttonId = '#api-key-clipboard-btn';

        $(buttonId).tooltip({
            trigger: 'manual',
            placement: 'bottom'
        });

        function setTooltip(btn, message) {
            $(btn)
                .attr('data-original-title', message)
                .tooltip('show');
        }

        function hideTooltip(btn) {
            setTimeout(function () {
                $(btn)
                    .tooltip('hide');
            }, 1000);
        }

        // Clipboard
        var clipboard = new Clipboard(buttonId);

        clipboard.on('success', function (e) {
            setTooltip(e.trigger, 'Copied!');
            hideTooltip(e.trigger);
        });

        clipboard.on('error', function (e) {
            setTooltip(e.trigger, 'Failed!');
            hideTooltip(e.trigger);
        });
    </script>
}
