body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 70px);
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Button Logout */
.navbar-default .btn-logout {
    width: 100%;
    text-align: left;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #7b8a8b;
    white-space: nowrap;
}

.navbar-default .in .btn-link:hover, .navbar-inverse .in .btn-link:focus {
    color: #fff;
}

.navbar-default .btn-logout:hover, .navbar-inverse .btn-logout:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

/* Admin Section */
.admin-tabs .nav-tabs {
    margin-bottom: 15px;
}

.admin-tabs input {
    max-width: 100%;
}

.api-key-input {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;

    max-width: 100%;
    white-space: pre;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

img.clippy {
    width: 13px;
    margin-top: -2px;
}

.message {
    position: fixed;
    top: 70px;
    left: 10px;
    width: 100%;
    z-index: 4;
}

#admin-message {
    display: inline-block;
}

.arrow-top,
.arrow-bottom {
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #b1b1b1;
    top: 45%;
    transform: rotate(25deg) translate(-50%, -50%);
}

.arrow-bottom {
    transform: rotate(-25deg) translate(-50%, -50%);
}


/* Body container */
.clearfix {
    flex-grow: 2;
}

/* Image slider */
img.featherlight-inner {
    max-width: 100%;
    max-height: 80vh;
}

/* Footer */
footer {
    border-top: 1px solid #dddddd;
    padding: 15px 0;
    margin-bottom: -15px; 
}

footer p {
    margin: 0;
}
