@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<h3>Description</h3>
<p>Algorithm for colorful image colorization in images by <a target="_blank" href="http://richzhang.github.io/colorization/">Richard Zhang, Phillip Isola, Alexei A. Efros</a></p>

<h3>Example</h3>
<div class="jumbotron">TODO</div>
@section Scripts {
    <script>
        var callback = function (fileId) {
            return "local://" + fileId;
        }

        var client = new AlgorithmClient('/algorithms/colorization', callback);
    </script>
}