@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<div class="row col-md-12">
    <dl>
        <dt>Description</dt>
        <dd>Algorithm for face detection in images by <a href="http://opencv.org/">opencv</a> with python.</dd>
    </dl>
</div>

@section Scripts {
    <script>
        var callback = function (fileId) {
            return "local://" + fileId;
        }

        var client = new AlgorithmClient('/algorithms/face-detection', callback);
    </script>
}