@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<h3>Description</h3>
<p>Algorithm for gender detection in images by <a target="_blank" href="http://www.openu.ac.il/home/hassner/projects/cnn_agegender/">Gil Levi, Tal Hassner</a></p>

<h3>API</h3>
<div class="well well-lg">
    <h4>Input</h4>
    <span>Single image with person</span><br />
    <span>Example: &quot;local://1&quot;</span>

    <h4>Return</h4>
    <span>Text with detected genre</span><br />
    <span>Example: female</span>
</div>

@section Scripts {
    <script>
        var callback = function (fileId) {
            return "local://" + fileId;
        }

        var client = new AlgorithmClient('/algorithms/gender-detection', callback);
    </script>
}