@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<div class="row col-md-12">
    <dl>
        <dt>Description</dt>
        <dd>Algorithm for recognition license plate in images or videos is provided by <a target="_blank" href="https://github.com/openalpr/openalpr">OpenAlpr</a>.</dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form id="algorithm-run">
            <div class="form-group">
                <label for="inputPlatesCount">Result plates count</label>
                <input type="number" class="form-control" id="inputPlatesCount" placeholder="Enter result count" min="1" max="10" value="1">
            </div>
            <fieldset class="form-group">
                <legend>Specify license plate region</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="euRadioOption" value="eu" checked>
                        EU
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="usRadioOption" value="us">
                        US
                    </label>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var callback = function (fileId) {
            var form = $('#algorithm-run');
            return [
                { c: form.find('input[type=radio]:checked').val(), n: form.find('#inputPlatesCount').val() },
                "local://" + fileId
            ];
        }

        var client = new AlgorithmClient('/algorithms/license-plate-recognition', callback);
    </script>
}