@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<h3>Description</h3>
<p>Algorithm for age detection in images by <a target="_blank" href="http://www.openu.ac.il/home/hassner/projects/cnn_agegender/">Gil Levi, Tal Hassner</a></p>

<h3>API</h3>
<div class="well well-lg">
    <h4>Input</h4>
    <span>Single image with person</span><br />
    <span>Example: &quot;local://6762da80-d1e5-46a2-3818-08d472d3e445&quot;</span>

    <h4>Return</h4>
    <span>Text with range of years</span>
</div>

@section Scripts {
    <script>
        var callback = function (file) {
            return file;
        }

        var client = new AlgorithmClient('/algorithms/age-detection', callback);
    </script>
}