@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<h3>Description</h3>
<p>Algorithm for recognition license plate in images or videos is provided by <a target="_blank" href="https://github.com/openalpr/openalpr">OpenAlpr</a>.</p>

<div class="well well-lg col-md-12">
    <form id="algorithm-run">
        <fieldset>
            <legend>Options</legend>
            <div class="form-group">
                <label for="inputPlatesCount">Result plates count</label>
                <input type="number" class="form-control" id="inputPlatesCount" placeholder="Enter result count" min="1" max="10" value="1">
            </div>
            <div class="form-group">
                <label class="control-label">Specify license plate region</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="euRadioOption" value="eu" checked>
                        EU
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="usRadioOption" value="us">
                        US
                    </label>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    <script>
        var callback = function (fileId) {
            var form = $('#algorithm-run');
            return [
                { c: form.find('input[type=radio]:checked').val(), n: form.find('#inputPlatesCount').val() },
                "local://" + fileId
            ];
        }

        var client = new AlgorithmClient('/algorithms/license-plate-recognition', callback);
    </script>
}