@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<h3>Description</h3>
<p>Long Running for testing purpose require upload some image but doesnt do anything with that.</p>

<h3>Options</h3>

<div class="row">
    <div class="col-md-4">
        <form id="algorithm-run">
            <div class="form-group">
                <label for="inputDelayCount">Script delay count in seconds</label>
                <input type="number" class="form-control" id="inputDelayCount" placeholder="Enter delay count" min="0" max="120" value="5">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var callback = function (file) {
            var form = $('#algorithm-run');
            return form.find('#inputDelayCount').val();
        }

        var client = new AlgorithmClient('/algorithms/long-running', callback);
    </script>
}