@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<h3>Description</h3>
<p>Algorithm for similarity of two images by <a target="_blank" href="http://opencv.org/">opencv</a> with python.</p>

<h3>API</h3>
<div class="well well-lg">
    <h4>Input</h4>
    <span>Two images in array</span><br />
    <span>Example: [&quot;local://6762da80-d1e5-46a2-3818-08d472d3e445&quot; ,&quot;local://e87057a2-a3b3-4417-3819-08d472d3e445&quot;]</span>
    
    <h4>Return</h4>
    <span>JSON object with properties:</span>
    <ul>
        <li>histogram: 1.0 for identical images, less than 1.0 if images differs</li>
        <li>featureDescriptor: 0.0 for identical images, more than 0.0 if images differs</li>
    </ul>
</div>

@section Scripts {
    <script>
        var uploadedFiles = []
        var callback = function (file) {
            uploadedFiles.push(file)

            if (uploadedFiles.length == 2) { 
                array = uploadedFiles;
                uploadedFiles = [];
                return array;
            }

            return null;
        }

        var client = new AlgorithmClient('/algorithms/similarity', callback);
    </script>
}