@model CVaS.Web.Models.LayoutViewModel
@{
    Layout = "_AlgorithmLayout";
}

<h3>Description</h3>
<p>Algorithm for converting to grayscale in images by <a target="_blank" href="http://opencv.org/">opencv</a> with python.</p>


@section Scripts {
    <script>
        var callback = function (file) {
            return file;
        }

        var client = new AlgorithmClient('/algorithms/to-grayscale', callback);
    </script>
}