@model CVaS.Web.Models.LayoutViewModel

@if (Model.SignedIn)
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Core" asp-action="Algorithms">Algorithms</a></li>
        <li><a asp-area="" asp-controller="Core" asp-action="Upload">Upload Files</a></li>
    </ul>
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Account" asp-action="Settings">Hello @Model.CurrentUserName!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
